@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

#container-home {
  background-image: url('../../public/img/background.jpg');
  background-size: cover; /* Isso faz com que a imagem cubra todo o elemento */
  background-position: center; /* Isso centraliza a imagem */
  height: 100vh; /* Isso faz com que o contêiner ocupe 100% da altura da janela do navegador */
  color: white; /* Cor do texto, para que seja visível contra a imagem de fundo */
  text-align: center; /* Centralizar o texto */
  padding-top: 50px; /* Espaçamento superior para o texto não ficar muito perto do topo */
}

#content-home {
  background-color: #ECD1C2;
}
